.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Tunas IOT
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        if user && (user.hasAccess('member:list') || user.hasAccess('member:notifyId'))
          li.dropdown(class=(title == 'Agent') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Agent
              i.caret
            ul.dropdown-menu
              if user.hasAccess('member:list')
                li
                  a(href='/members') Agent List
                li.divider
              if user.hasAccess('member:notifyId')
                li
                  a(href='/members/notifyId') Notify Agent ID
                li.divider
        if user && (user.hasAccess('report:members'))
          li.dropdown(class=(title == 'Report') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Report
              i.caret
            ul.dropdown-menu
              if user.hasAccess('report:members')
                li
                  a(href='/report/members') Agent List
                li.divider
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
        else
          //- ** open for local development use only **
          if user.hasAccess('user:signup')
            li(class=(title == 'Create Account') ? 'active' : undefined)
              a(href='/signup') Create Account
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              else
                img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
